atomicwrites==1.2.1
attrs==18.2.0
colorama==0.3.9
coverage==4.5.2
filelock==3.0.10
flake8==3.6.0
flake8-polyfill==1.0.2
jsonschema==2.6.0
mando==0.6.4
mongomock==3.14.0
more-itertools==4.3.0
packaging==17.1
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pyparsing==2.2.0
pytest==4.0.2
pytest-cov==2.6.0
pytest-sugar==0.9.1
radon==2.4.0
requests==2.20.0
slumber==0.7.1
openapi-spec-validator==0.2.4
termcolor==1.1.0
toml==0.10.0
tox==3.5.3
virtualenv==16.0.0
xenon==0.5.4
